.moon {
	width: $moon-size;
	height: $moon-size;
	background-color: $moon-color;
	transform: translate(50%, 50%);
}

.planet {
	position: relative;
	left: 50%;
	transform: translate(-50%, -50%);
}

$planets: (
	'mercury': (
		planetSize: $mercury-size,
		backgroundColor: $mercury-color,
		shadowColor: $mercury-shadow
	),
	'venus': (
		planetSize: $venus-size,
		backgroundColor: $venus-color,
		shadowColor: $venus-shadow
	),
	'earth': (
		planetSize: $earth-size,
		backgroundColor: $earth-color,
		shadowColor: $earth-shadow
	),
	'mars': (
		planetSize: $mars-size,
		backgroundColor: $mars-color,
		shadowColor: $mars-shadow
	),
	'jupiter': (
		planetSize: $jupiter-size,
		backgroundColor: $jupiter-color,
		shadowColor: $jupiter-shadow
	),
	'saturn': (
		planetSize: $saturn-size,
		backgroundColor: $saturn-color,
		shadowColor: $saturn-shadow
	),
	'uranus': (
		planetSize: $uranus-size,
		backgroundColor: $uranus-color,
		shadowColor: $uranus-shadow
	),
	'neptune': (
		planetSize: $neptune-size,
		backgroundColor: $neptune-color,
		shadowColor: $neptune-shadow
	)
);

@each $name, $planet in $planets {
	.planet--#{$name} {
		width: map-get($planet, planetSize);
		height: map-get($planet, planetSize);
		background-color: map-get($planet, backgroundColor);
		box-shadow: inset 0px #{map-get($planet, planetSize) / 5} 0px 0px map-get($planet, shadowColor);
	}
}

.planet--jupiter {
	box-shadow: inset -1px 36px 0 -25px $jupiter-color, inset -1px 53px 0 -31px $jupiter-stripes-color,
		inset -1px 62px 0 -35px $jupiter-color, inset -1px 71px 0 -30px $jupiter-stripes-color,
		inset 0px 77px 0 -24px $jupiter-color, inset -1px 80px 0 -17px $jupiter-stripes-color,
		inset 0px 0 0 -24px $jupiter-color;
}

.planet--jupiter::after {
	content: '';
	width: 20px;
	height: 10px;
	position: absolute;
	top: 27%;
	left: 48%;
	border: 2px solid $jupiter-color;
	border-radius: 50%;
	background-color: #ec7d4e;
	transform: rotate(9deg);
}

.saturn-rings {
	position: relative;
	z-index: 1;
}

.saturn-rings::after,
.saturn-rings::before {
	content: '';
	width: $saturn-size * 1.5;
	height: $saturn-size * 0.75;
	position: absolute;
	left: 50%;
	top: 0%;
	border: solid 4px transparent;
	border-radius: 100px / 50px;
	transform: translate(-50%, -50%) rotate3d(4, 1, 1, 40deg);
}

.saturn-rings::before {
	z-index: -1;
	box-shadow: inset 0px 3px 2px 3px $saturn-ring-inner; // inner ring behind the planet
}

.saturn-rings::after {
	box-shadow: -11px 4px 0px 2px $saturn-ring-outer, 9px 5px 0px 3px $saturn-ring-outer,
		inset 2px -6px 0px 1px $saturn-ring-inner;
}

.planet--saturn {
	box-shadow: inset 9px -28px 0px -21px $saturn-stripe-light, inset 9px -31px 0px -21px $saturn-stripe-dark,
		inset 9px -36px 0px -21px $saturn-color, inset 9px -46px 0px -21px $saturn-stripe-light,
		inset 9px -49px 0px -21px $saturn-stripe-dark, inset 9px -61px 0px -21px $saturn-color,
		inset 9px -71px 0px -21px $saturn-stripe-light, inset 9px -74px 0px -21px $saturn-stripe-dark;
}
