.sun {
	position: absolute;
	top: 50%;
	left: 50%;
	width: $sun-size;
	height: $sun-size;
	background-color: $sun-color;
	box-shadow: inset $sun-shadow-size -#{$sun-shadow-size} 0px 0px $sun-shadow;
	transform: translate(-50%, -50%);
}
