$space-color: #18171f;
$space-color-light: #1b2735;
$space-color-dark: #090a0f;
$sun-color: #fdb513;
$mercury-color: #f7c896;
$venus-color: #f5b14f;
$earth-color: #4983f8;
$moon-color: #bdc5d0;
$mars-color: #f36e4b;
$jupiter-color: #eb8d4f;
$saturn-color: #ffe0ac;
$uranus-color: #88d2d9;
$neptune-color: #1860f2;

$sun-shadow: #df8028;
$mercury-shadow: #ed9d8f;
$venus-shadow: #f0853e;
$earth-shadow: #3d6ac1;
$mars-shadow: #e54848;
$uranus-shadow: #4da7a2;
$neptune-shadow: #1936f0;

$sun-shadow-size: 8px;

$sun-size: 80px;
$mercury-size: 10px;
$venus-size: 24px;
$earth-size: 25px;
$moon-size: 7px;
$mars-size: 15px;
$jupiter-size: 70px;
$saturn-size: 60px;
$uranus-size: 26px;
$neptune-size: 25px;

$orbit-mercury-size: 120px;
$orbit-venus-size: 175px;
$orbit-earth-size: 250px;
$orbit-moon-size: 50px;
$orbit-mars-size: 335px;
$orbit-jupiter-size: 595px;
$orbit-saturn-size: 770px;
$orbit-uranus-size: 910px;
$orbit-neptune-size: 1100px;

$earth-revolution-days: 365.25;
$mercury-revolution-days: 88;
$venus-revolution-days: 225;
$moon-revolution-days: 28;
$mars-revolution-days: 687;
$jupiter-revolution-days: 4333;
$saturn-revolution-days: 10759;
$uranus-revolution-days: 30685;
$neptune-revolution-days: 60189;

$year-in-seconds: 15s; // one orbital period for Earth - 15s in animation

@function calculate-orbital-period($planet-year-in-earth-days) {
  @return $year-in-seconds * $planet-year-in-earth-days / $earth-revolution-days +
    0s;
}

$orbital-period-mercury: calculate-orbital-period($mercury-revolution-days);
$orbital-period-venus: calculate-orbital-period($venus-revolution-days);
$orbital-period-earth: calculate-orbital-period($earth-revolution-days);
$orbital-period-moon: calculate-orbital-period($moon-revolution-days);
$orbital-period-mars: calculate-orbital-period($mars-revolution-days);
$orbital-period-jupiter: calculate-orbital-period($jupiter-revolution-days);
$orbital-period-saturn: calculate-orbital-period($saturn-revolution-days);
$orbital-period-uranus: calculate-orbital-period($uranus-revolution-days);
$orbital-period-neptune: calculate-orbital-period($neptune-revolution-days);

$sunbeams-rotation-speed: 30s;

$jupiter-stripes-color: #f1a67b;
$jupiter-great-red-spot-color: #ec7d4e;

$saturn-ring-inner: #fdebdb;
$saturn-ring-outer: #facda6;

$saturn-stripe-dark: #ae922f;
$saturn-stripe-light: #bdc241;
