@import 'variables';
@import 'orbits';

// ##################################################################
// ####################### GENERAL STYLES ###########################
// ##################################################################

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	height: 100vh;
	overflow: hidden;
}

.space {
	width: 100%;
	height: 100%;
	background: radial-gradient(circle, $space-color-light 0%, $space-color-dark 37%, black 85%);
}

.solar-system {
	position: absolute;
	width: 100%;
	height: 100%;
	transform: scale(0.5);
}

.sun,
.planet,
.moon,
.orbit {
	border-radius: 50%;
}

// ##################################################################
// ############################ SUN #################################
// ##################################################################

.sun {
	position: absolute;
	top: 50%;
	left: 50%;
	width: $sun-size;
	height: $sun-size;
	background-color: $sun-color;
	box-shadow: inset $sun-shadow-size -#{$sun-shadow-size} 0px 0px $sun-shadow;
	transform: translate(-50%, -50%);
}

// ##################################################################
// #################### PLANETS AND MOONS ###########################
// ##################################################################

.planet {
	position: relative;
	left: 50%;
	transform: translate(-50%, -50%);
}

$planets: (
	'mercury': (
		planetSize: $mercury-size,
		backgroundColor: $mercury-color,
		shadowColor: $mercury-shadow
	),
	'venus': (
		planetSize: $venus-size,
		backgroundColor: $venus-color,
		shadowColor: $venus-shadow
	),
	'earth': (
		planetSize: $earth-size,
		backgroundColor: $earth-color,
		shadowColor: $earth-shadow
	),
	'mars': (
		planetSize: $mars-size,
		backgroundColor: $mars-color,
		shadowColor: $mars-shadow
	),
	'jupiter': (
		planetSize: $jupiter-size,
		backgroundColor: $jupiter-color,
		shadowColor: $jupiter-shadow
	),
	'saturn': (
		planetSize: $saturn-size,
		backgroundColor: $saturn-color,
		shadowColor: $saturn-shadow
	),
	'uranus': (
		planetSize: $uranus-size,
		backgroundColor: $uranus-color,
		shadowColor: $uranus-shadow
	),
	'neptune': (
		planetSize: $neptune-size,
		backgroundColor: $neptune-color,
		shadowColor: $neptune-shadow
	)
);

@each $name, $planet in $planets {
	.planet--#{$name} {
		width: map-get($planet, planetSize);
		height: map-get($planet, planetSize);
		background-color: map-get($planet, backgroundColor);
		box-shadow: inset 0px #{map-get($planet, planetSize) / 5} 0px 0px map-get($planet, shadowColor);
	}
}

.moon {
	width: $moon-size;
	height: $moon-size;
	background-color: $moon-color;
	transform: translate(50%, 50%);
}
