// ##################################################################
// #################### VARIABLES, MIXINS ETC. ######################
// ##################################################################

$space-color: #18171f;
$sun-color: #fdb513;
$mercury-color: #f7c896;
$venus-color: #f5b14f;
$earth-color: #4983f8;
$moon-color: #bdc5d0;
$mars-color: #f36e4b;
$jupiter-color: #eb8d4f;
$saturn-color: #f4d3ae;
$uranus-color: #88d2d9;
$neptune-color: #1860f2;

$sun-size: 70px;
$mercury-size: 10px;
$venus-size: 24px;
$earth-size: 25px;
$moon-size: 7px;
$mars-size: 15px;
$jupiter-size: 70px;
$saturn-size: 60px;
$uranus-size: 26px;
$neptune-size: 25px;

$orbit-mercury-size: 120px;
$orbit-venus-size: 175px;
$orbit-earth-size: 250px;
$orbit-moon-size: 50px;
$orbit-mars-size: 335px;
$orbit-jupiter-size: 595px;
$orbit-saturn-size: 770px;
$orbit-uranus-size: 910px;
$orbit-neptune-size: 1100px;

$orbital-period-mercury: 3.6s; // 88 days
$orbital-period-venus: 9.2s; // 225 days
$orbital-period-earth: 15s; // 365 days
$orbital-period-moon: 1.2s; // 28 days
$orbital-period-mars: 28.2s; // 687 days
$orbital-period-jupiter: 178s; // 4333 days
$orbital-period-saturn: 442s; // 10 759 days
$orbital-period-uranus: 1261s; // 30 685 days
$orbital-period-neptune: 2473.5s; // 60 189 days

// ##################################################################
// ####################### GENERAL STYLES ###########################
// ##################################################################

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	height: 100vh;
}

.space {
	width: 100%;
	height: 100%;
	background-color: $space-color;
}

.solar-system {
	position: absolute;
	width: 100%;
	height: 100%;
	transform: scale(0.5);
}

.sun,
.planet,
.moon,
.orbit {
	border-radius: 50%;
}

// ##################################################################
// ######################### ORBITS #################################
// ##################################################################

.orbit {
	position: absolute;
	top: 50%;
	left: 50%;
	border: solid 1px rgba(#fff, 0.6);
}

$orbits: (
	'mercury': (
		orbitSize: $orbit-mercury-size,
		margin: -$orbit-mercury-size / 2,
		animationDuration: $orbital-period-mercury
	),
	'venus': (
		orbitSize: $orbit-venus-size,
		margin: -$orbit-venus-size / 2,
		animationDuration: $orbital-period-venus
	),
	'earth': (
		orbitSize: $orbit-earth-size,
		margin: -$orbit-earth-size / 2,
		animationDuration: $orbital-period-earth
	),
	'moon': (
		orbitSize: $orbit-moon-size,
		margin: -$orbit-moon-size / 2,
		animationDuration: $orbital-period-moon
	),
	'mars': (
		orbitSize: $orbit-mars-size,
		margin: -$orbit-mars-size / 2,
		animationDuration: $orbital-period-mars
	),
	'jupiter': (
		orbitSize: $orbit-jupiter-size,
		margin: -$orbit-jupiter-size / 2,
		animationDuration: $orbital-period-jupiter
	),
	'saturn': (
		orbitSize: $orbit-saturn-size,
		margin: -$orbit-saturn-size / 2,
		animationDuration: $orbital-period-saturn
	),
	'uranus': (
		orbitSize: $orbit-uranus-size,
		margin: -$orbit-uranus-size / 2,
		animationDuration: $orbital-period-uranus
	),
	'neptune': (
		orbitSize: $orbit-neptune-size,
		margin: -$orbit-neptune-size / 2,
		animationDuration: $orbital-period-neptune
	)
);

@each $name, $orbit in $orbits {
	.orbit--#{$name} {
		width: map-get($orbit, orbitSize);
		height: map-get($orbit, orbitSize);
		margin-top: map-get($orbit, margin);
		margin-left: map-get($orbit, margin);
		animation-duration: map-get($orbit, animationDuration);
	}
}

// ##################################################################
// ############################ SUN #################################
// ##################################################################

.sun {
	position: absolute;
	top: 50%;
	left: 50%;
	width: $sun-size;
	height: $sun-size;
	background-color: $sun-color;
	transform: translate(-50%, -50%);
}

// ##################################################################
// #################### PLANETS AND MOONS ###########################
// ##################################################################

.planet {
	position: relative;
	left: 50%;
	transform: translate(-50%, -50%);
}

$planets: (
	'mercury': (
		planetSize: $mercury-size,
		backgroundColor: $mercury-color
	),
	'venus': (
		planetSize: $venus-size,
		backgroundColor: $venus-color
	),
	'earth': (
		planetSize: $earth-size,
		backgroundColor: $earth-color
	),
	'mars': (
		planetSize: $mars-size,
		backgroundColor: $mars-color
	),
	'jupiter': (
		planetSize: $jupiter-size,
		backgroundColor: $jupiter-color
	),
	'saturn': (
		planetSize: $saturn-size,
		backgroundColor: $saturn-color
	),
	'uranus': (
		planetSize: $uranus-size,
		backgroundColor: $uranus-color
	),
	'neptune': (
		planetSize: $neptune-size,
		backgroundColor: $neptune-color
	)
);

@each $name, $planet in $planets {
	.planet--#{$name} {
		width: map-get($planet, planetSize);
		height: map-get($planet, planetSize);
		background-color: map-get($planet, backgroundColor);
	}
}

.moon {
	width: $moon-size;
	height: $moon-size;
	background-color: $moon-color;
	transform: translate(50%, 50%);
}

// ##################################################################
// ###################### ANIMATION TIME! ###########################
// ##################################################################

@keyframes animate--orbit {
	0% {
		transform: rotateZ(0deg);
	}

	100% {
		transform: rotateZ(-360deg);
	}
}

.orbit {
	animation-name: animate--orbit;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
