$colors-stars-blinking: '#fff', 'transparent';

@function create-stars-with-box-shadow($starsCount) {
	$box-shadow: ();
	@for $i from 1 to $starsCount {
		$box-shadow: append($box-shadow, (random(2000) + 0px) (random(2000) + 0px) #fff, comma);
	}
	@return unquote($box-shadow);
}

$box-shadow--stars-large: create-stars-with-box-shadow(50);
$box-shadow--stars-medium: create-stars-with-box-shadow(150);
$box-shadow--stars-small: create-stars-with-box-shadow(900);

.stars {
	border-radius: 50%;
	background: transparent;
}

.stars--large {
	height: 4px;
	width: 4px;
	box-shadow: $box-shadow--stars-large;
	animation: blink-large 7s infinite;
}
.stars--medium {
	height: 2px;
	width: 2px;
	box-shadow: $box-shadow--stars-medium;
	animation: blink-medium 5s infinite;
}
.stars--small {
	height: 1px;
	width: 1px;
	box-shadow: $box-shadow--stars-small;
	animation: blink-small 3s infinite;
}

@keyframes blink-large {
	0% {
		box-shadow: $box-shadow--stars-large;
	}
	70% {
		$stars: $box-shadow--stars-large;
		@for $i from 1 to length($stars) {
			$star: set-nth(nth($stars, $i), 3, unquote(nth($colors-stars-blinking, random(length($colors-stars-blinking)))));
			$stars: set-nth($stars, $i, $star);
		}
		box-shadow: $stars;
	}
	100% {
		box-shadow: $box-shadow--stars-large;
	}
}

@keyframes blink-medium {
	0% {
		box-shadow: $box-shadow--stars-medium;
	}
	70% {
		$stars: $box-shadow--stars-medium;
		@for $i from 1 to length($stars) {
			$star: set-nth(nth($stars, $i), 3, unquote(nth($colors-stars-blinking, random(length($colors-stars-blinking)))));
			$stars: set-nth($stars, $i, $star);
		}
		box-shadow: $stars;
	}
	100% {
		box-shadow: $box-shadow--stars-medium;
	}
}

@keyframes blink-small {
	0% {
		box-shadow: $box-shadow--stars-small;
	}
	70% {
		$stars: $box-shadow--stars-small;
		@for $i from 1 to length($stars) {
			$star: set-nth(nth($stars, $i), 3, unquote(nth($colors-stars-blinking, random(length($colors-stars-blinking)))));
			$stars: set-nth($stars, $i, $star);
		}
		box-shadow: $stars;
	}
	100% {
		box-shadow: $box-shadow--stars-small;
	}
}
